<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bootstrap Sidebar Only</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex flex-column flex-shrink-0 bg-primary text-white " style="width: 250px; height: 86vh;">
        <a href="#"
            class="d-block text-center py-3 mb-3 text-white text-decoration-none fs-4 fw-bold border-bottom border-light">
            DASHBOARD
        </a>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link text-white">
                    <i class="bi bi-house me-2"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="/addPackage" class="nav-link text-white">
                    <i class="bi bi-layout-text-sidebar me-2"></i>Add Packages
                </a>
            </li>
            <li>
                <a href="/viewregister" class="nav-link text-white">
                    <i class="bi bi-layout-text-sidebar me-2"></i>View Register
                </a>
            </li>
             <li>
                <a href="/viewcontact" class="nav-link text-white">
                    <i class="bi bi-layout-text-sidebar me-2"></i>View Contact
                </a>
            </li>
            <li>
                <a href="/viewPackage" class="nav-link text-white">
                    <i class="bi bi-tags me-2"></i> View Packages
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-building me-2"></i> View Bookings
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-diagram-3 me-2"></i> Gallery
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-journal-text me-2"></i> Feedbacks
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-question-circle me-2"></i> Messages
                </a>
            </li>
        </ul>
    </div>

</body>

</html>